<!DOCTYPE html>
<html>
    <head>
      <title>...</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="header.component.css">
    </head>
    <header>
        <h4>Mars Gallery</h4>
        <nav class="navbar">
            <ul class="navbar-nav">
                <a class="nav-link" routerLink="">Home </a>
                <a class="nav-link" routerLink="/per-days-photos">Photos par jour </a>
                <a class="nav-link" routerLink="/">Galerie </a>
                <a class="nav-link" routerLink="/contact">Contact </a>
            </ul>
        </nav>
    </header>
</html>