<head>
    <meta charset="utf-8">
    <title>MarsImagesGallery</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico" href="home.component.css">
</head>
<body>
    <app-header></app-header>   
    <p>Bienvenus sur l'application Mars Gallery !</p>
    <p>Vous êtes passionnés par l'espace ? Ici vous avez accès aux meilleures images de Mars prises par la Nasa, et vous pourrez créer une gallerie des photos qui vous ont le plus marqué.</p>
    <app-footer></app-footer>
</body>