<head>
    <meta charset="utf-8">
    <title>MarsImagesGallery</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico" href="per-days-photos.component.css">
</head>
<body>
    <app-header></app-header>
    <p>Dans cette page, vous pouvez chercher les photos de Mars par jour.</p>
    <p>Veuillez entrer la date :</p>

    <app-list-image [marsPhotos]="marsphoto"></app-list-image>
    <app-footer></app-footer>
</body>